.common{
    text-align: center; 
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.header{
    height: 100px;
    background-color: black;
    color: white;
    line-height: 100px;
}
.mainbody{
    background-color: whitesmoke;
}
.footer{
    background-color: cadetblue;
    color: white;
    height: 25px;
    position: fixed; 
    bottom: 0px;
    right: 5px;
    left: 5px;

}


img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;

}
nav{
    background-color: grey;
    padding: 10px;
    overflow: hidden;
}
nav a{
    float: left;
    color: black;
    padding: 10px 13px;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;

}
nav a:hover{
    color: #ccc;
}

ol{
    list-style-position: inside;
    font-weight: bold;
    text-align: center;
}
ul{
    list-style-position: inside;
    font-weight: lighter;
}

